<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd"
   xmlns:context="http://www.springframework.org/schema/context">
   
   <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"> <!-- Datasource bean using Apache BasicDataSource. It does connection pooling -->
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"></property>
		<property name="url" value="jdbc:derby://localhost:1527/db;create=true"></property>
		<property name="initialSize" value="2"></property>
   </bean>

   <bean id="jdbcDaoSupportImpl" class="com.jayram.dao.JdbcDaoSupportImpl"> <!-- Creating JdbcDaoSupport bean & setting DataSource -->
		<property name="dataSource" ref="dataSource"></property>
   </bean>

   <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.jayram.model"></property> <!-- Lets Hibernate ckecks for annotated classes in mentioned package -->
		<property name="hibernateProperties"> <!-- It contains all the properties which we normally set in hibernate.cfg.xml file -->
			<props>
				<prop key="dialect">org.hibernate.dialect.DerbyDialect</prop>
			</props>
		</property>
   </bean>

   <context:annotation-config/> <!-- To define all annotations related to BeanPostProcessor we can use this tag alone -->
 	<context:component-scan base-package="com.jayram" />
 </beans>
 